<footer class="footer text-white" id="footer" style="background-image: url('{{ footer_image_url }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-3 align-self-start">
        <h3 class="fw-heavy text-white">Get the Latest from Ryan & Ryan LLC</h3>
      </div>
      <div class="col-md-9 text-end">
        <!-- <ul class="list-inline"> -->
          <a href="mailto:tracy.yentsch@ryan-ryan.net" class="btn bg-light text-dark">Email Us</a>
        <!-- </ul> -->
      </div>
    </div>
  </div>
  <div class="container text-left py-3">
    <p class="mb-0">© 2023 Ryan & Ryan LLC, All rights reserved.</p>
  </div>
</footer>
