{% extends '_base.html' %}

{% block content %}
<br>
<br>
<div class="container">
    <img src="" alt="">
    <div class="row">
        <h1 class="work-title mb-5">Workplace Investigations</h1>
    </div>
    

    <p class="lead text-justify">
        The Firm offers not for profit as well as private and public sector employers assistance in performing
        independent workplace investigations.
    </p>

    <h3 class="fw-heavy pt-3 mb-3 text-dark">Investigations</h3>
    <p class="lead text-justify">
        An impartial investigator can often help employers return to and restore a productive workplace. In addition,
        independent investigations can lessen litigation exposure and risk. The Firm has conducted numerous harassment
        and sexual harassment investigations as well as all types of alleged workplace misconduct investigations. The
        Firm also teaches employers how to conduct their own investigations.
    </p>

    <h3 class="fw-heavy pt-3 mb-3 text-dark">Additional Guidance</h3>
    <p class="lead text-justify">The Firm also advises, conducts audits, and provides training on all workplace issues,
        including non-competition agreements and restrictive covenants, collective bargaining, discipline, hiring,
        family leave and disability, discrimination, retaliation wage and hour, harassment, subcontracting, workers’
        compensation, reduction in force, and union campaigns.</p>

    <p class="lead text-justify">If litigation occurs, Ryan & Ryan first seeks to understand a particular client’s goals,
        and then creates a litigation strategy to fit those goals. Before developing a strategy for a particular case,
        we first and foremost listen to our clients. Once an initial strategy is developed the Firm continually updates
        the client and, if necessary, works with the client to modify strategy. </p>

        <br>
        <a href="/practice_areas" class="text-black blue-link">See other areas of expertise</a>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}