{% extends '_base.html' %}

{% block content %}
<div class="container">
    <br><br>
    <h1 class="work-title mb-5">Workplace Issues</h1>

    <p class="lead text-justify">
        In an effort to assist our clients in avoiding disputes in the workplace, Ryan & Ryan, LLC offers counseling on
        the day-to-day issues that inevitably arise. We are always available to offer guidance to employers on issues
        relating to:
    </p>

    <p class="lead">
        <li class="lead">Workplace investigations</li>

        <li class="lead">Employee discipline and termination</li>

        <li class="lead">Employment discrimination</li>

        <li class="lead">Sexual harassment</li>

        <li class="lead">Wage and hour matters</li>

        <li class="lead">Safety and health</li>

        <li class="lead">Trade secrets and unfair competition</li>

        <li class="lead">Substance abuse</li>

        <li class="lead">Employee privacy</li>

        <li class="lead">Employee embezzlement</li>

        <li class="lead">Mergers, acquisitions, and downsizing</li>

        <li class="lead">I-9 Compliance/E-Verify</li>

        <li class="lead">Unemployment compensation</li>

        <li class="lead">Workers’ compensation</li>
    </p >

    <p class="lead">
        In addition, we offer our clients the value of our extensive experience in drafting and reviewing
        employment-related documents, such as:
    </p>


    <ul class="lead">
        <li class="lead">Employment contracts</li>

        <li class="lead">Employee handbooks</li>

        <li class="lead">Non-competition and confidentiality agreements</li>

        <li class="lead">Severance agreements</li>

        <li class="lead">Management guidelines</li>

        <li class="lead">Social media policies</li>

        <li class="lead">Drug and alcohol policies</li>

        <li class="lead">Affirmative action plans</li>

        <li class="lead">E-mail and internet policies</li>

        <li class="lead">Other policies and procedures which are useful to an employer and/or legally required</li>
    </ul>

    <br>
    <a href="/practice_areas" class="text-black blue-link">See other areas of expertise</a>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
{% endblock %}